@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Nunito:wght@200;300;400;600;700&display=swap');

*{
    font-family: 'Nunito', sans-serif;

}
/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo para la sección de productos */
.productos {
    margin-top:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
}

/* Estilo para las tarjetas */
.tarjeta {
    width: calc(33.33% - 20px); /* Ajustar el ancho de las tarjetas según el diseño deseado */
    background-color: #f0f0f0;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, box-shadow 0.2s;
}

.tarjeta:hover {
    transform: translateY(-5px); /* Efecto de levantamiento al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Estilo para el contenido dentro de la tarjeta */
.contenido {
    padding: 20px;
    text-align: center;
}

/* Estilo para la imagen */
.imagen {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

/* Estilo para el título */
h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

/* Estilo para la descripción */
p {
    font-size: 3rem;
}
/* Estilo para el footer */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

/* Estilo para los enlaces del footer */
footer a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    font-size: 1.2rem;
    transition: color 0.2s;
}

footer a:hover {
    color: #ff4500; /* Cambia el color al pasar el mouse */
}

/* Estilo para el texto del footer */
.footer-text {
    font-size: 1rem;
    margin-top: 10px;
}

/* Estilo para el icono de redes sociales en el footer (por ejemplo, un icono de Twitter) */
.social-icon {
    font-size: 1.5rem;
    margin: 0 5px;
    color: #fff;
    transition: color 0.2s;
}

.social-icon:hover {
    color: #1da1f2; /* Cambia el color al pasar el mouse */
}

/* Estilos botón agregar */
button {
    background-color: #0f1fff; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none; /* Elimina el borde */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Borde redondeado */
    font-size: 30px; /* Tamaño de fuente */
    cursor: pointer; /* Cambia el cursor al pasar el mouse */
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave */
}

/* Estilo al pasar el mouse sobre el botón */
button:hover {
    background-color: #0040fff6; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilo para botones deshabilitados */
button:disabled {
    background-color: #ccc; /* Color de fondo cuando el botón está deshabilitado */
    color: #666; /* Color del texto cuando el botón está deshabilitado */
    cursor: not-allowed; /* Cambia el cursor a "no permitido" cuando el botón está deshabilitado */
}



